    body {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: antiquewhite;
    }
    .btn-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }